# ignore vim temporary file (*.swp)
*.swp

# ignore building directory ('build/'), directory of executable files ('exec/','bin/')
**/exec/
**/bin/
**/build*/
**/build_log/
sorc/**/log.*
sorc/**/log_*

# ignore directory of log files ('log/', 'logs/')
**/log/
**/logs/
 
# ignore rocoto database files ('*.db')
*.db

# ignore object/executable/lib/module file ('*.o, *.x, *.exei, *.a, *.mod')
*.o
*.x
*.exe
*.a
sorc/**/*.mod

# ignore directory of gsi and post(upp) source code ('sorc/rtma_gsi.fd, sorc/rtma_post.fd')
**/rtma_gsi.fd/
**/rtma_post.fd/

# ignore directory of static data ('fix/', 'parm/')
fix/
parm/

# ignore the link files under directory modulefiles
modulefiles/modulefile.ProdGSI.wcoss
modulefiles/modulefile.ProdGSI.theia
modulefiles/modulefile.POST.wcoss
modulefiles/modulefile.POST.theia
modulefiles/modulefile.global_gsi.theia
modulefiles/modulefile.global_post.theia

# ignore directory of development ('dev')
**/dev/
**/untrack/
**/tags

# special ignoring rules for workflow/
workflow/*.sh
workflow/*.ksh
workflow/*.xml
workflow/*.db

!workflow/prep_*.sh
!workflow/prep_*.ksh
!workflow/rtma3d_retro.xml
!workflow/run_rtma3d_retro.sh

# exceptional pattern is led by sign "!"
