# ignore vim temporary file (*.swp)
*.swp

# ignore building directory ('build/'), directory of executable files ('exec/','bin/')
build/

# ignore directory of log files ('log/', 'logs/')
log/
logs/
 
# ignore rocoto database files ('*.db')
*.db

# ignore object/executable file ('*.o, *.x, *.exe')
*.o

# exceptional pattern is led by sign "!"
hrrr_dir
rtma_dir

# ignoring working xml and shell scripts under workflow/
workflow/*.xml
workflow/*.sh
workflow/*.ksh
!workflow/prep_*.sh

# ignoring working directory (under dev/)
**/dev/
