build*/
install*/
.*.swp
*.[aox]
*.mod
.DS_Store
bin/
exec/
lib/
lib64/
.vscode/

nohup.out
log*
build.log*
install.log*

# Ensure no one adds binary files to this repo. Not even by accident.
# over-riding this file can be done in the subdirectory
*.bin
*.nc*
*.tar*
*.tgz
*.gz
*.png
*.jp*g
*.tiff

# Python related
_pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# The following binary files used to be in gerrit::GSI-fix rev2 branch
# Explicitly list them here so they don't get accidentally added back
# When new binary files are added to this list,
# please also update gsi_binary_files.cmake so they can be included in the GSI project
urma2p5_fltnorm.dat_mitm
urma2p5_errfield_with_mitm.dat_clim
500urma2p5_howv_lng_lat.bin
urma2p5_rd2.out_namnest_wexp_on_cohreswexp_standby_mode_uses_new_NAM_composed_1Nov2016
nam_glb_berror.f77.gcv
global_CRTM_TauCoeff.f77
vqctp001.dat
rrfs_glb_berror.l127y770.f77
urma2p5.minT.grb2_0
Rcov_iasiasea
200urma2p5_howv_lng_lat.bin
urma2p5_howv_var_lat.bin
urma2p5_slmask.dat_nolakes
nam_nmm_berror.f77
urma2p5_terrain.dat
global_CRTM_CldCoeff.f77
global_CRTM_AerosolCoeff.f77
urma2p5_fltnorm.dat_ps
nam_nmmstat_na_glberror.gcv
global_CRTM_EmisCoeff.f77
nam_nmmstat_na
urma2p5_errfield_with_mxtm.dat_clim
urma2p5_latlon_mpfactor.dat
urma2p5_fltnorm.dat_chi
urma2p5_errfield.dat_clim
urma2p5_fltnorm.dat_mxtm
urma2p5.minT.grb1_0
nam_glb_berror.f77
urma2p5_howv_lng_lat.bin
global_CRTM_SpcCoeff.f77
330urma2p5_howv_lng_lat.bin
urma2p5_fltnorm.dat_cldch
rtma_random_flips
urma2p5_fltnorm.dat_gust
Rcov_crisn20
urma2p5.maxT.grb1_0
urma2p5_fltnorm.dat_psi
urma2p5_rd2.out_hrrr_on_cohreswexp_standby_mode_uses_lastest_HRRR_composed_1Nov2016
nam_CRTM_TauCoeff.f77
rtma_nmm_berror.f77
berror_stats_withsiglats
rap_berror_stats_global
urma2p5_fltnorm.dat_wspd10m
urma2p5_fltnorm.dat_howv
urma2p5_rd2.out_namnest_wexp_on_cohreswexp
urma2p5_fltnorm.dat_pseudorh
Big_Endian/rtma_fltnorm.dat_ps
Big_Endian/rtma_fltnorm.dat_td2m
Big_Endian/global_berror.l64y130.f77
Big_Endian/global_berror.l64y290.f77
Big_Endian/rtma_fltnorm.dat_chi
Big_Endian/wrf_chem_berror_big_endian
Big_Endian/nam_glb_berror.f77.gcv
Big_Endian/rtma_regional_nmm_berror.f77.gcv
Big_Endian/rtma_fltnorm.dat_wspd10m
Big_Endian/rtma_conus_terrain.dat
Big_Endian/rtma_fltnorm.dat_t
Big_Endian/rtma_fltnorm.dat_vwnd10m
Big_Endian/rtma_fltnorm.dat_vwnd10mwter
Big_Endian/rtma_fltnorm.dat_mitmwter
Big_Endian/rtma_conus_slmask.dat
Big_Endian/global_berror.l64y192.f77
Big_Endian/global_berror.l64y386.f77
Big_Endian/rtma_fltnorm.dat_sfwter
Big_Endian/rtma_fltnorm.dat_pseudorh
Big_Endian/rtma_fltnorm.dat_cldch
Big_Endian/rtma_fltnorm.dat_howv
Big_Endian/global_berror.l64y98.f77
Big_Endian/rtma_fltnorm.dat_uwnd10m
Big_Endian/global_berror.l64y194.f77
Big_Endian/global_berror.l127y770.f77
Big_Endian/rtma_fltnorm.dat_gust
Big_Endian/global_berror.l64y578.f77
Big_Endian/rtma_fltnorm.dat_td2mwter
Big_Endian/rtma_fltnorm.dat_vis
Big_Endian/global_berror.l127y386.f77
Big_Endian/rtma_fltnorm.dat_gustwter
Big_Endian/rtma_fltnorm.dat_mxtm
Big_Endian/rtma_fltnorm.dat_tcamt
Big_Endian/rtma_fltnorm.dat_twter
Big_Endian/fv3aero_berror.l64y194.f77
Big_Endian/rtma_fltnorm.dat_qwter
Big_Endian/global_berror.l127y194.f77
Big_Endian/urma2p5_fltnorm.dat_wspd10m
Big_Endian/global_berror.l64y770.f77
Big_Endian/global_berror.l64y96.f77
Big_Endian/rtma_fltnorm.dat_pmsl
Big_Endian/rtma_fltnorm.dat_pswter
Big_Endian/global_berror.l64y674.f77
Big_Endian/global_berror.l64y258.f77
Big_Endian/cmaq_pm2_5_reg_berror_12z.bin
Big_Endian/global_berror.l63y386.f77
Big_Endian/global_berror.l127y98.f77
Big_Endian/rtma_fltnorm.dat_psi
Big_Endian/rtma_fltnorm.dat_wspd10mwter
Big_Endian/global_berror.l64y882.f77
Big_Endian/rtma_fltnorm.dat_mxtmwter
Big_Endian/global_berror.l64y1154.f77
Big_Endian/nam_nmmstat_na.gcv
Big_Endian/cmaq_berror_big_endian
Big_Endian/rtma_fltnorm.dat_uwnd10mwter
Big_Endian/rtma_fltnorm.dat_mitm
Big_Endian/rtma_fltnorm.dat_vpwter
urma2p5_regional_berror.f77
urma2p5_fltnorm.dat_tcamt
urma2p5_fltnorm.dat_t
urma2p5_fltnorm.dat_vis
Rcov_iasibsea
nam_CRTM_SpcCoeff.f77
urma2p5_random_flips
urma2p5_rd2.out_hrrr_on_cohreswexp
urma2p5.maxT.grb2_0
Rcov_iasibland
Rcov_iasicland
nam_nmm_berror.f77.gcv
Rcov_iasialand
Rcov_crisnpp
Rcov_iasicsea
Rcov_crisn21
